####################
# Compiled sources #
####################
*.pyc
__pycache__/

#################
# PyCharm files #
#################
/.idea/

#########################
# Language translations #
#########################
/locale/

################
# Backup files #
################
*.glade~
